* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.header {
  padding: 0 2rem;
}

.pagination li.active {
  background-color: #43a047;
}

.content {
  text-align: center;
  position: relative;
  padding: 20px 30px;
  min-height: calc(100vh - 64px - 70px - 104px);
}

.movies {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.card {
  box-shadow: 5px 2px 10px rgb(193, 184, 184);
}

.preloader {
  padding: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0);
  justify-content: center;
  align-items: center;
  z-index: 3;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.preloader__spinner {
  width: 10%;
}

.preloader__title {
  color: white;
  font-size: 20px;
}

.input-field {
  margin-left: 30px;
  margin-right: 30px;
}

.typeFilter {
  display: block;
  position: relative;
  height: 30px;
  padding: 3px;
  margin: 0 30px;
  width: 200px;
  border: 1px solid rgb(214, 208, 208);
}

.author {
  font-size: 12px;
}

.search {
  position: relative;
}

.search__error-message {
  color: red;
  position: absolute;
  font-size: 14px;
  line-height: 1;
  bottom: 0px;
  left: 30px;
}
