* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.header {
  padding: 0 2rem;
}

@keyframes show {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 100%;
  }
}
.alert {
  z-index: 3;
  position: fixed;
  right: 1rem;
  top: 10rem;
  animation: show 1s ease-in-out;
}

.pagination li.active {
  background-color: #43a047;
}

.items {
  margin: 0;
  margin-top: 5px;
}

.shop {
  text-align: center;
  position: relative;
  padding: 20px 30px;
  min-height: calc(100vh - 64px - 70px - 104px);
  max-width: 1000px;
}

.items {
  position: relative;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.card {
  box-shadow: 5px 2px 10px rgb(193, 184, 184);
  display: flex;
  flex-direction: column;
}

.card-content {
  flex-grow: 1;
}

.card__buy {
  padding: 0 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__content {
  padding: 10px;
  /* flex-wrap: wrap;
  display: flex;
  justify-content: space-between; */
}

.card__price {
  font-size: 20px;
  line-height: 1;
}

.card .card__content {
  padding: 10px;
}

.preloader {
  padding: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0);
  justify-content: center;
  align-items: center;
  z-index: 3;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.preloader__spinner {
  width: 10%;
}

.preloader__title {
  color: white;
  font-size: 20px;
}

.input-field {
  margin-left: 30px;
  margin-right: 30px;
}

.typeFilter {
  display: block;
  position: relative;
  height: 30px;
  padding: 3px;
  margin: 0 30px;
  width: 200px;
  border: 1px solid rgb(214, 208, 208);
}

.itemsPerPage__form {
  margin: 0;
  padding: 0;
}

.navBlock {
  border: none;
  height: 40px;
  color: black;
  background: none;
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: row;
}

.radio {
  margin-right: 30px;
}

.cart {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cart__closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.cart__closeButton_type_form {
  top: 10px;
  right: 10px;
  color: black;
}

.checkoutForm {
  position: relative;
  background-color: rgb(230, 243, 239);
  padding: 15px;
}

.cart__content {
  max-width: 90%;
  position: relative;
  width: 50rem;
  min-width: 300px;
}

.cart__item {
  width: 100%;
  display: grid;
  grid-template-columns: 4fr 3fr 2fr 2fr 1fr 1fr 1fr;
}

.cart__itemIcon {
  text-align: center;
}

.cartButton {
  position: relative;
  z-index: 2;
  position: fixed;
  top: 80px;
  right: 30px;
  border-radius: 5%;
  padding: 0;
  transition: transform 0.3s linear;
  border: 2px solid yellowgreen;
  cursor: pointer;
}

.cartButton:hover {
  transform: scale(1.1);
}

.cartButton__qty {
  position: absolute;
  bottom: 50%;
  right: 43%;
  color: rgb(212, 255, 0);
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.cartButton__icon {
  margin: 0;
}

.page {
  background-color: rgb(232, 212, 32);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  padding: 25px 0;
  margin: 0;
  width: 100%;
}

.input-field input[type='search'] {
  transition: none;
}

.search {
  transition: none;
  color: black;
  outline: none;
  background-color: transparent;
}

.search:focus {
  background-color: transparent;
  transition: none;
}

.search::placeholder {
  color: blueviolet;
}

.itemsPerPage__title {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  margin-top: -5px;
  font-size: 14px;
  line-height: 1;
}

.itemsPerPage {
  padding: 0;
  margin: 0;
  margin-left: 70px;
}

.author {
  font-size: 12px;
}

.search {
  position: relative;
  width: 100%;
}

.search__error-message {
  color: red;
  position: absolute;
  font-size: 14px;
  line-height: 1;
  bottom: 0px;
  left: 30px;
}

@media (max-width: 700px) {
  .cartButton {
    top: unset;
    right: 15px;
    bottom: 15px;
  }
  .brand-logo {
    left: 200px !important;
  }
  .itemsPerPage {
    margin-left: 0;
  }

  .radio {
    margin-right: 15px;
  }
}

@media (max-width: 515px) {
  .navBlock {
    height: unset;
    flex-direction: column;
  }
  .itemsPerPage {
    margin-top: 20px;
    margin-left: 30px;
  }
  .header {
    padding: 0;
  }
  .cart__item {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .brand-logo {
    font-size: 20px !important;
    left: 120px !important;
  }
  .author {
    font-size: 10px;
  }
}
